

h2{
    color: black;
    position: absolute;
left:400px;
top: 0px;
}
ol{
    position: absolute;
    top: 0px;
    display: flex;
    left: 550px;
   
}
ol li{
    display: flex;
    padding-left: 20px;
    display: inline;
    color: black;
    font-size: 19px;
}
.image-container{

    width:62vh;
    height: 25vh;
    background: url(./Images/recipe.jfif)  center/cover no-repeat;
    position: relative;
    margin-bottom: 2rem;
    border-radius: var(--borderRadius);
    top:80px;
    left:390px;
}
.tags-container{
    position: absolute;
    top: 250px;
    left: 400px;
}
.recipes-list{
    width: 100%;
    position: absolute;
    top: 300px;
    left: 400px;
}
a{
    text-decoration: none;
    color: orange;
}